numpy
sentence-transformers
PyMuPDF
nltk
faiss-cpu
tf-keras
fastapi
uvicorn
boto3
python-multipart
python-dotenv
langchain langchain-community
sentence-transformers faiss-cpu
transformers accelerate
huggingface_hub
