# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
athena-env/

# Environment variables file
.env

# Docker related files (optional)
*.dockerfile

# IDE/editor files (optional)
.vscode/
.idea/

# Junk folders
data/
data/chunks/
data/indexes/
data/pdfs/